# Global Wildcards (Matches any subfolder automatically)
**/target/
**/*.class
**/node_modules/
**/node/
**/dist/

# Specific ignores
**/application-local.yml
ui_angular/.angular
ui/*.pem
crud_scaffold/.*
